apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
- externalsecret.yaml

helmCharts:
- name: app-template
  repo: https://bjw-s-labs.github.io/helm-charts/
  version: 4.6.2
  releaseName: homer
  valuesFile: values.yaml

configMapGenerator:
  - name: homer-config
    files:
      - config.yml
