apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
- storageclasses.yaml
- backup-target-secret.yaml
- recurring-jobs.yaml
- volumesnapshotclass.yaml
helmCharts:
  - name: longhorn
    version: 1.10.1
    repo: https://charts.longhorn.io/
    releaseName: longhorn
    valuesInline:
      preUpgradeChecker:
        jobEnabled: false
      
      persistence:
        defaultClass: false

      csi:
        kubeletRootDir: /var/lib/kubelet

      defaultSettings:
        # backupTarget: s3://longhorn-backups@us-east-1/bastion/
        # backupTargetCredentialSecret: longhorn-backup-target
        createDefaultDiskLabeledNodes: true
        defaultDataPath: /var/lib/longhorn
        storageNetwork: ~
        nodeDrainPolicy: allow-if-replica-is-stopped

      metrics:
        serviceMonitor:
          enabled: true

      ingress:
        enabled: true
        ingressClassName: tailscale
        host: longhorn
        tls: true
        secureBackends: false
        tlsSecret: ""
        
