.task/
.local/
.local/*
kubeconfig
talosconfig
clusterconfig/
**/clusterconfig
**/clusterconfig/*

kubernetes/**/charts/

kubernetes/oldapps/**

.pem
.key
.pub
.agekey
*.sops.*.tmp
*.code-workspace

# worktrees
.worktrees/

# macOS files
.DS_Store
.AppleDouble
.LSOverride
