apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: cnpg-system
helmCharts:
- name: cloudnative-pg
  repo: https://cloudnative-pg.github.io/charts
  version: 0.27.1
  releaseName: cnpg
  namespace: cnpg-system
  includeCRDs: true
  valuesInline:
    monitoring:
      podMonitorEnabled: true
      grafanaDashboard:
        create: true
        annotations:
          k8s-sidecar-target-directory: /var/lib/grafana/dashboard/postgres
          argocd.argoproj.io/sync-options: ServerSideApply=true


patches:
  - target:
      group: apiextensions.k8s.io
      version: v1
      kind: CustomResourceDefinition
    patch: |-
      - op: add
        path: /metadata/annotations/argocd.argoproj.io~1sync-options
        value: ServerSideApply=true