apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
- persistence.yaml

helmCharts:
  - name: victoria-logs-single
    repo: https://victoriametrics.github.io/helm-charts/
    version: 0.11.28
    releaseName: &app victoria-logs
    namespace: monitoring
    includeCRDs: true
    valuesInline:
      server:
        enabled: true
        image:
          repository: docker.io/victoriametrics/victoria-logs
          tag: "v1.24.0-victorialogs@sha256:1ec31ddccc39dc9ead2607cddbf2829be1eb5ad39890e72bba26b359be20801d"
          pullPolicy: IfNotPresent
        retentionPeriod: 1 # months
        persistentVolume:
          enabled: true
          existingClaim: victoria-logs-data
          subPath: data
        extraArgs:
          syslog.listenAddr.tcp: ":9514"
        service:
          type: LoadBalancer
          externalTrafficPolicy: Local
          annotations:
            external-dns.alpha.kubernetes.io/hostname: "vmlogs.home.arpa"
        ingress:
          enabled: true
          ingressClassName: tailscale
          pathType: Prefix
          hosts:
            - name: &host vmlogs
              path: /
              port: http
          tls:
            - hosts: [*host]
        resources: # TODO: tune
          requests:
            cpu: 10m
            memory: 512Mi
          limits:
            cpu: 3000m
            memory: 4Gi
        securityContext:
          enabled: true
          allowPrivilegeEscalation: false
          readOnlyRootFilesystem: true
          capabilities: { drop: [ALL] }
        podSecurityContext:
          enabled: true
          runAsNonRoot: true
          runAsUser: 1000
          runAsGroup: 1000
          fsGroup: 1000
          fsGroupChangePolicy: Always
          seccompProfile: { type: "RuntimeDefault" }
        statefulSet:
          enabled: false
        serviceMonitor:
          enabled: true
        affinity: {}
      fluent-bit:
        enabled: false
      extraObjects: []
      global:
        nameOverride: *app
        victoriaLogs:
          server:
            fullnameOverride: *app

patches:
- target:
    group: apps
    version: v1
    kind: Deployment
    name: victoria-logs
  patch: |-
    - op: add
      path: /spec/template/spec/containers/0/ports/-
      value:
        containerPort: 9514
        name: syslog
        protocol: TCP
- target:
    group: ""
    version: v1
    kind: Service
    name: victoria-logs
  patch: |-
    - op: add
      path: /spec/ports/-
      value:
        name: syslog
        port: 9514
        protocol: TCP
        targetPort: syslog
