apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: external-secrets
helmCharts:
- name: connect
  repo: https://1password.github.io/connect-helm-charts
  version: 2.0.5
  releaseName: connect
  includeCRDs: true