[modules]
autoload = yes

load => res_http_websocket.so
load => res_websocket_client.so
load => chan_websocket.so
load => res_ari.so
load => res_ari_asterisk.so
load => res_ari_bridges.so
load => res_ari_channels.so
load => res_ari_events.so
load => res_pjsip.so
load => res_pjsip_endpoint_identifier_ip.so
load => res_pjsip_outbound_registration.so
load => res_pjsip_registrar.so
load => codec_ulaw.so
