[global]
type = global
user_agent = Dograh Asterisk Sidecar
endpoint_identifier_order = ip,header,username,anonymous

[transport-udp]
type = transport
protocol = udp
bind = ${ASTERISK_PJSIP_BINDADDR}:${ASTERISK_PJSIP_PORT}

#include "dynamic/pjsip-endpoints.conf"
