apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

helmCharts:
- name: app-template
  repo: https://bjw-s-labs.github.io/helm-charts
  version: 3.7.3
  releaseName: generic-device-plugin
  namespace: kube-system
  valuesFile: values.yaml
