---
clusterName: ${clusterName}

# renovate: datasource=github-releases depName=siderolabs/talos
talosVersion: v1.8.3

# renovate: datasource=github-releases depName=siderolabs/kubelet
kubernetesVersion: v1.30.3

endpoint: https://talos-master-0.tailnet-4d89.ts.net:6443

allowSchedulingOnMasters: true
allowSchedulingOnControlPlanes: true

additionalApiServerCertSans: []

additionalMachineCertSans: []

clusterPodNets:
  - 10.244.0.0/16
clusterSvcNets:
  - 10.245.0.0/16

cniConfig:
  name: none

# yamllint disable
.schematics:
  basic-vm:
    id-labels: &schematicBasicVMIDLabels
      factory.talos.dev/schematic-id.part-0: 077514df2c1b6436460bc60faabc9766
      factory.talos.dev/schematic-id.part-1: 87b16193b8a1290fda4366c69024fec2
    config: &schematicBasicVM
      customization:
        systemExtensions:
            officialExtensions:
                - siderolabs/iscsi-tools
                - siderolabs/qemu-guest-agent
                - siderolabs/tailscale
                - siderolabs/util-linux-tools
  nvidia-gpu-vm:
    id-labels: &schematicNvidiaGPUVMIDLabels
      factory.talos.dev/schematic-id.part-0: 83991e32a1680c85e556346bacabc925
      factory.talos.dev/schematic-id.part-1: daea93d93a43169977c9eb930bb73d75
    config: &schematicNvidiaGPUVM
      customization:
        systemExtensions:
          officialExtensions:
            - siderolabs/amd-ucode
            - siderolabs/amdgpu-firmware
            - siderolabs/binfmt-misc
            - siderolabs/fuse3
            - siderolabs/i915-ucode
            - siderolabs/intel-ice-firmware
            - siderolabs/intel-ucode
            - siderolabs/iscsi-tools
            - siderolabs/nonfree-kmod-nvidia-production
            - siderolabs/nvidia-container-toolkit-production
            - siderolabs/qemu-guest-agent
            - siderolabs/qlogic-firmware
            - siderolabs/realtek-firmware
            - siderolabs/tailscale
            - siderolabs/uinput
            - siderolabs/util-linux-tools

nodes:
## VMs
  - hostname: talos-master-0
    ipAddress: talos-master-0
    controlPlane: true
    installDiskSelector:
      size: ">=250GB"
    disableSearchDomain: false
    networkInterfaces:
      - interface: eno1
        mtu: 0
        dhcp: true
    schematic: *schematicBasicVM
    nodeLabels:
      <<: *schematicBasicVMIDLabels
      topology.kubernetes.io/region: home
      topology.kubernetes.io/zone: home-office-rack
      node.longhorn.io/create-default-disk: "true"
    patches:
      - '@./patch-logging.yaml'
      - |
        - op: add
          path: /machine/logging/destinations/0/extraTags/node
          value: talos-master-0
  - hostname: talos-master-1
    ipAddress: talos-master-1
    controlPlane: true
    installDiskSelector:
      size: ">=250GB"
    disableSearchDomain: false
    networkInterfaces:
      - interface: eno1
        mtu: 0
        dhcp: true
    schematic: *schematicBasicVM
    nodeLabels:
      <<: *schematicBasicVMIDLabels
      topology.kubernetes.io/region: home
      topology.kubernetes.io/zone: home-office-rack
      node.longhorn.io/create-default-disk: "true"
    patches:
      - '@./patch-logging.yaml'
      - |
        - op: add
          path: /machine/logging/destinations/0/extraTags/node
          value: talos-master-1
  - hostname: talos-master-2
    ipAddress: talos-master-2
    controlPlane: true
    installDiskSelector:
      size: ">=250GB"
    disableSearchDomain: false
    networkInterfaces:
      - interface: eno1
        mtu: 0
        dhcp: true
    schematic: *schematicBasicVM
    nodeLabels:
      <<: *schematicBasicVMIDLabels
      topology.kubernetes.io/region: home
      topology.kubernetes.io/zone: home-office-rack
      node.longhorn.io/create-default-disk: "true"
    patches:
      - '@./patch-logging.yaml'
      - |
        - op: add
          path: /machine/logging/destinations/0/extraTags/node
          value: talos-master-2
  - hostname: talos-worker-gpu-0
    ipAddress: talos-worker-gpu-0
    controlPlane: false
    installDiskSelector:
      size: ">=32GB"
    disableSearchDomain: false
    schematic: *schematicNvidiaGPUVM
    nodeLabels:
      <<: *schematicNvidiaGPUVMIDLabels
      topology.kubernetes.io/region: home
      topology.kubernetes.io/zone: home-office-rack
      node.longhorn.io/create-default-disk: "false"
    patches:
      - "@./patch-nvidia-gpu.yaml"
      - '@./patch-logging.yaml'
      - |
        - op: add
          path: /machine/logging/destinations/0/extraTags/node
          value: talos-worker-gpu-0
  - hostname: talos-worker-gpu-1
    ipAddress: talos-worker-gpu-1
    controlPlane: false
    installDiskSelector:
      size: ">=32GB"
    disableSearchDomain: false
    schematic: *schematicNvidiaGPUVM
    nodeLabels:
      <<: *schematicNvidiaGPUVMIDLabels
      topology.kubernetes.io/region: home
      topology.kubernetes.io/zone: home-office-rack
      node.longhorn.io/create-default-disk: "false"
    extensionServices:
      - name: tailscale
        environment:
          - TS_AUTH_KEY=${TAILSCALE_AUTHKEY}
          - TS_ACCEPT_DNS=true
          - TS_EXTRA_ARGS=--advertise-connector --advertise-tags=tag:k8s-cluster-bastion
    patches:
      - "@./patch-nvidia-gpu.yaml"
      - '@./patch-logging.yaml'
      - |
        - op: add
          path: /machine/logging/destinations/0/extraTags/node
          value: talos-worker-gpu-1
# ## SBC'S ##
#   - hostname: raspberrypi-dca632210df0.tailnet-4d89.ts.net
#     ipAddress: raspberrypi-dca632210df0.tailnet-4d89.ts.net
#     controlPlane: false
#     installDisk: /dev/mmcblk0
#     disableSearchDomain: false
#     networkInterfaces:
#       - interface: eno1
#         mtu: 0
#         dhcp: true
#     nodeLabels:
#       topology.kubernetes.io/region: home
#       topology.kubernetes.io/zone: home-sbc
#   - hostname: raspberrypi-dca632210a61.tailnet-4d89.ts.net
#     ipAddress: raspberrypi-dca632210a61.tailnet-4d89.ts.net
#     controlPlane: false
#     installDisk: /dev/mmcblk0
#     disableSearchDomain: false
#     networkInterfaces:
#       - interface: eno1
#         mtu: 0
#         dhcp: true
#     nodeLabels:
#       topology.kubernetes.io/region: home
#       topology.kubernetes.io/zone: home-sbc
#   - hostname: raspberrypi-dca632210f4e.tailnet-4d89.ts.net
#     ipAddress: raspberrypi-dca632210f4e.tailnet-4d89.ts.net
#     controlPlane: false
#     installDisk: /dev/mmcblk0
#     disableSearchDomain: false
#     networkInterfaces:
#       - interface: eno1
#         mtu: 0
#         dhcp: true
#     nodeLabels:
#       topology.kubernetes.io/region: home
#       topology.kubernetes.io/zone: home-sbc
patches:
- |
  machine:
    files:
      - content: |
          [plugins."io.containerd.grpc.v1.cri"]
            enable_unprivileged_ports = true
            enable_unprivileged_icmp = true
        op: create
        path: /etc/cri/conf.d/20-customization.part
    time:
      disabled: false
      servers:
        - time.cloudflare.com
    kubelet:
      nodeIP:
        validSubnets:
          - 192.168.20.0/24
    features:
      kubePrism:
        enabled: true
        port: 7445
      hostDNS:
        enabled: true
        forwardKubeDNSToHost: true
        resolveMemberNames: true
    network:
      nameservers:
        - 192.168.20.1
        - 1.1.1.1
- '@./patch-longhorn.yaml'
- '@./patch-global-sysctls.yaml'
worker:
  extensionServices: &commonExtensionServices
    - name: tailscale
      environment:
        - TS_AUTH_KEY=${TAILSCALE_AUTHKEY}
        - TS_ACCEPT_DNS=true
        - TS_EXTRA_ARGS=--advertise-connector --advertise-tags=tag:k8s-cluster-bastion
controlPlane:
  extensionServices:
    - name: tailscale
      environment:
        - TS_AUTH_KEY=${TAILSCALE_AUTHKEY}
        - TS_ACCEPT_DNS=true
        - TS_EXTRA_ARGS=--advertise-connector --advertise-tags=tag:k8s-cluster-bastion
        - TS_SERVE_CONFIG=/etc/tailscale/serve.json
      files:
        - content: |
            {
              "TCP": {
                "6443": "svc:bastion-k8s"
              }
            }
          path: /etc/tailscale/serve.json
          permissions: "0644"
  patches:
    - |
      machine:
        certSANs:
          - 127.0.0.1
        features:
          kubernetesTalosAPIAccess:
            enabled: true
            allowedRoles:
              - os:admin
            allowedKubernetesNamespaces:
              - system-upgrade
    - |
      cluster:
        allowSchedulingOnMasters: true
        apiServer:
          admissionControl: null
          extraArgs:
            feature-gates: SELinuxMountReadWriteOncePod=false # prevents .spec.seLinuxMount from being set on CSIDriver to work around https://github.com/argoproj/argo-cd/issues/13585
            bind-address: 0.0.0.0
            oidc-issuer-url: https://vault.jtcressy.net/v1/identity/oidc/provider/default
            oidc-client-id: Xg96CJ6FgSZzyoPlumEdhXBncKcNigwS
            oidc-groups-claim: groups
            oidc-groups-prefix: "vault:"
            oidc-username-claim: username
            oidc-username-prefix: "vault:"
          certSANs:
            - 127.0.0.1
        controllerManager:
          extraArgs:
            bind-address: 0.0.0.0
        discovery:
          enabled: true
          registries:
            kubernetes:
              disabled: true
            service: {}
        etcd:
          extraArgs:
            listen-metrics-urls: http://0.0.0.0:2381
          advertisedSubnets:
            - 192.168.20.0/24 # using underlay network for node-to-node communication
        proxy:
          disabled: true
        scheduler:
          extraArgs:
            bind-address: 0.0.0.0
