apiVersion: argoproj.io/v1alpha1
kind: AppProject
metadata:
  name: home
  namespace: argocd
spec:
  clusterResourceWhitelist:
    - group: '*'
      kind: '*'
  description: Homey apps, even automation ones
  destinations:
    - namespace: default
      name: '*'
      server: '*'
    - namespace: home-automation
      name: '*'
      server: '*'
    - namespace: nats
      name: '*'
      server: '*'
    - name: '*'
      namespace: teslamate
      server: '*'
    - name: '*'
      namespace: media
      server: '*'
    - name: '*'
      namespace: gow
      server: '*'
    - name: '*'
      namespace: game-servers
      server: '*'
    - name: '*'
      namespace: searxng
      server: '*'
    - name: '*'
      namespace: n8n
      server: '*'
  namespaceResourceWhitelist:
    - group: '*'
      kind: '*'
  sourceRepos:
    - 'https://github.com/jtcressy-home/infra'
