---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: tsidp
spec:
  accessModes: ["ReadWriteOnce"]
  dataSourceRef:
    kind: ReplicationDestination
    apiGroup: volsync.backube
    name: tsidp-rdst
  resources:
    requests:
      storage: 1Gi
  storageClassName: cephfs
---
apiVersion: volsync.backube/v1alpha1
kind: ReplicationDestination
metadata:
  name: tsidp-rdst
spec:
  trigger:
    manual: restore-once
  restic:
    repository: tsidp-restic-secret
    copyMethod: Snapshot
    accessModes: ["ReadWriteOnce"]
    storageClassName: cephfs
    cacheStorageClassName: cephfs
    volumeSnapshotClassName: cephfs-snapshot
    moverSecurityContext:
      runAsUser: 0
      runAsGroup: 0
      fsGroup: 0
    capacity: 1Gi
---
apiVersion: volsync.backube/v1alpha1
kind: ReplicationSource
metadata:
  name: tsidp-rsrc
spec:
  sourcePVC: tsidp
  trigger:
    schedule: "15 */8 * * *"
  restic:
    pruneIntervalDays: 7
    repository: tsidp-restic-secret
    copyMethod: Snapshot
    accessModes: ["ReadWriteOnce"]
    storageClassName: cephfs
    cacheStorageClassName: cephfs
    volumeSnapshotClassName: cephfs-snapshot
    moverSecurityContext:
      runAsUser: 0
      runAsGroup: 0
      fsGroup: 0
    retain:
      hourly: 24
      daily: 7
      weekly: 5
