apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
- pg-cluster.yaml
- external-secret.yaml
- backup.yaml
- pod-monitor.yaml

helmCharts:
- name: app-template
  repo: https://bjw-s-labs.github.io/helm-charts/
  version: 4.6.2
  releaseName: teslamate

  valuesFile: values.yaml
          