---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/app-template-4.4.0/charts/other/app-template/values.schema.json

controllers:
  main:
    containers:
      main:
        image:
          repository: teslamate/teslamate
          tag: 2.2.0
        env: &env
          TZ: "America/Chicago"
          VIRTUAL_HOST: "teslamate.tailnet-4d89.ts.net"
          CHECK_ORIGIN: "false"
          DISABLE_MQTT: "false"
          MQTT_HOST: "nats.nats.svc.cluster.local"
          MQTT_USERNAME: "mqtt"
          DATABASE_HOST: "teslamate-db-rw.teslamate.svc.cluster.local"
          DATABASE_NAME:
            valueFrom:
              secretKeyRef:
                name: teslamate-db-app
                key: dbname
          DATABASE_USER:
            valueFrom:
              secretKeyRef:
                # name: teslamate-db-app
                name: teslamate-db-superuser
                key: username
          DATABASE_PASS:
            valueFrom:
              secretKeyRef:
                # name: teslamate-db-app
                name: teslamate-db-superuser
                key: password
        envFrom:
        - secretRef:
            name: teslamate-secret
        resources:
          requests:
            memory: 300Mi
            cpu: 25m
      api:
        image:
          repository: tobiasehlert/teslamateapi
          tag: 1.23.0
        env:
          <<: *env
          API_TOKEN_DISABLE: "true"
          TESLAMATE_HOST: localhost
          TESLAMATE_PORT: 4000
          TESLAMATE_SSL: "false"
        envFrom:
        - secretRef:
            name: teslamate-secret
        resources:
          requests:
            memory: 300Mi
            cpu: 25m
service:
  main:
    type: ClusterIP
    ports:
      http:
        port: 4000
  api:
    controller: main
    type: ClusterIP
    ports:
      http:
        port: 8080

ingress:
  main:
    enabled: true
    className: tailscale
    hosts:
      - host: teslamate
        paths:
          - path: /
            pathType: Prefix
            service:
              name: teslamate-main
              port: 4000
          - path: /api
            pathType: Prefix
            service:
              name: teslamate-api
              port: 8080
    tls:
      - hosts:
          - teslamate