apiVersion: v1
data:
  application.resourceTrackingMethod: annotation
  admin.enabled: 'false'
  statusbadge.enabled: 'true'
  url: https://argocd.tailnet-4d89.ts.net
  kustomize.buildOptions: --enable-helm
  dex.config: |
    # Enable token exchange grant type
    oauth2:
      grantTypes:
        - "authorization_code"
        - "refresh_token"
        - "urn:ietf:params:oauth:grant-type:token-exchange"

    connectors:
    # - type: github
    #   id: github
    #   name: github
    #   config:
    #     clientID: $github-oauth-client:dex.github.clientId
    #     clientSecret: $github-oauth-client:dex.github.clientSecret
    #     orgs:
    #     - name: jtcressy-home
    - type: authproxy
      id: tailscale
      name: tailscale
      config:
        userHeader: Tailscale-User-Login
        # staticGroups:
        # - default
    # GitHub Actions OIDC Connector for token exchange
    - type: oidc
      id: github-actions
      name: GitHub Actions
      config:
        issuer: https://token.actions.githubusercontent.com
        getUserInfo: false
        insecureSkipEmailVerified: true
        insecureEnableGroups: true
        scopes:
          - openid
        userIDKey: sub
        userNameKey: actor
        claimMapping:
          groups: ref
  resource.customizations: |
    apiextensions.k8s.io_CustomResourceDefinition:
      syncOptions:
        - ServerSideApply=true
    _PersistentVolume:
      syncOptions:
        - RespectIgnoreDifferences=True
  resource.customizations.ignoreDifferences.deviceplugin.intel.com_GpuDevicePlugin: |
    jsonPointers:
    - /spec/resourceManager
  resource.customizations.ignoreDifferences._PersistentVolume: |
    jsonPointers:
    - /spec/claimRef/resourceVersion
    - /spec/claimRef/uid
    - /status/lastPhaseTransitionTime
  resource.customizations.ignoreDifferences._CSIDriver: |
    jqPathExpressions:
    - .spec.seLinuxMount
    jsonPointers:
    - /spec/seLinuxMount
  resource.customizations.ignoreDifferences.admissionregistration.k8s.io_ValidatingWebhookConfiguration: |
    jqPathExpressions:
    - .webhooks[]?.clientConfig.caBundle
    jsonPointers:
    - /webhooks/*/clientConfig/caBundle
  resource.customizations.ignoreDifferences.admissionregistration.k8s.io_MutatingWebhookConfiguration: |
    jqPathExpressions:
    - .webhooks[]?.clientConfig.caBundle
    jsonPointers:
    - /webhooks/*/clientConfig/caBundle

kind: ConfigMap
metadata:
  name: argocd-cm