apiVersion: apps/v1
kind: Deployment
metadata:
  name: argocd-dex-server
spec:
  template:
    spec:
      containers:
      - name: dex
        env:
        - name: GITHUB_ACTIONS_CLIENT_SECRET
          valueFrom:
            secretKeyRef:
              name: github-actions-oidc-client
              key: dex.clientSecret
