apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources: []
helmCharts:
  - name: operator
    version: 7.1.1
    repo: https://operator.min.io
    releaseName: operator
    valuesInline:
      operator:
        replicaCount: 1
        env:
          - name: PROMETHEUS_NAMESPACE
            value: monitoring
          - name: PROMETHEUS_NAME
            value: kube-prometheus-stack-prometheus
      console:
        ingress:
          enabled: true
          ingressClassName: tailscale
          host: minio-console
          tls:
            - hosts:
                - minio-console
        
