apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - external-secret.yaml

helmCharts:
- name: app-template
  repo: https://bjw-s-labs.github.io/helm-charts/
  version: 2.6.0
  releaseName: golink
  valuesFile: values.yaml
