apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
- external-secret.yaml
- proxyclass.yaml

helmCharts:
  - name: tailscale-operator
    version: 1.90.9
    repo: https://pkgs.tailscale.com/helmcharts
    releaseName: tailscale-operator
    namespace: tailscale
    includeCRDs: true
    valuesInline:
      apiServerProxyConfig:
        mode: "true"
      operatorConfig:
        hostname: k8s-bastion
      proxyConfig:
        defaultProxyClass: default
    