---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/app-template-3.2.0/charts/other/app-template/values.schema.json

controllers:
  sabnzbd:
    containers:
      # temp:
      #   image:
      #     repository: alpine
      #     tag: latest
      #   command:
      #     - /bin/sh
      #     - -c
      #     - sleep 3600;
      app:
        image:
          repository: ghcr.io/home-operations/sabnzbd
          tag: rolling@sha256:da57e01cdebc547852b6df85c8df8c0e4d87792742c7608c5590dc653b184e8c
        env:
          SABNZBD__PORT: &port 8080
          SABNZBD__HOST_WHITELIST_ENTRIES: >-
            sabnzbd,
            sabnzbd.media,
            sabnzbd.media.svc,
            sabnzbd.media.svc.cluster,
            sabnzbd.media.svc.cluster.local,
            downloads.media.cressy.family,
            sabnzbd.tailnet-4d89.ts.net
          TZ: America/Chicago
        envFrom:
          - secretRef:
              name: sabnzbd-secret
        probes:
          liveness: &probes
            enabled: true
            custom: true
            spec:
              httpGet:
                path: /api?mode=version
                port: *port
              initialDelaySeconds: 0
              periodSeconds: 10
              timeoutSeconds: 1
              failureThreshold: 3
          readiness: *probes
        resources:
          requests:
            cpu: 100m
          limits:
            memory: 8Gi
        securityContext:
          allowPrivilegeEscalation: false
          readOnlyRootFilesystem: true
          capabilities:
            drop:
              - ALL
defaultPodOptions:
  # nodeSelector:
  #   kubernetes.io/hostname: talos-master-0
  #   # this node is always on the same proxmox host as truenas-purplebox,
  #   # which gives it more bandwidth until we upgrade to 10GbE networking
  securityContext:
    runAsNonRoot: true
    runAsUser: 568
    runAsGroup: 568
    fsGroup: 568
    fsGroupChangePolicy: OnRootMismatch
    supplementalGroups:
      - 65536
persistence:
  config:
    existingClaim: &app sabnzbd
  logs:
    type: emptyDir
    globalMounts:
      - path: /config/logs
  download-temp:
    enabled: false
    type: persistentVolumeClaim
    accessMode: ReadWriteOnce
    size: 512Gi
    storageClass: cephfs
    globalMounts:
      - path: /media/downloads/nzbs/incomplete
  media:
    type: nfs
    server: truenas-purplebox.private.home
    path: /mnt/purple/general/media
    globalMounts:
      - path: /media/downloads/nzbs
        subPath: downloads/nzbs
  tmp:
    type: emptyDir
ingress:
  app:
    enabled: true
    className: tailscale
    hosts:
      - host: *app
        paths:
          - path: /
            pathType: Prefix
            service:
              identifier: app
              port: http
    tls:
      - hosts:
          - *app
service:
  app:
    controller: *app
    ports:
      http:
        port: *port