apiVersion: external-secrets.io/v1
kind: ClusterSecretStore
metadata:
  name: vault-generic
spec:
  provider:
    vault:
      server: "https://vault.jtcressy.net"
      path: "generic"
      version: "v2"
      auth:
        kubernetes:
          mountPath: "kubernetes"
          role: "bastion-cluster"