---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/app-template-3.2.0/charts/other/app-template/values.schema.json

controllers:
  tautulli:
    containers:
      app:
        image:
          repository: ghcr.io/home-operations/tautulli
          tag: 2.16.0@sha256:2a092f86a51f5718111097b0fced33eaa876b5904a543b7504f92357a4f75635
        env:
          TZ: America/Chicago
        probes:
          liveness: &probes
            enabled: true
            custom: true
            spec:
              httpGet:
                path: /status
                port: &port 8181
              initialDelaySeconds: 0
              periodSeconds: 10
              timeoutSeconds: 1
              failureThreshold: 3
          readiness: *probes
        resources:
          requests:
            cpu: 10m
          limits:
            memory: 512Mi
        securityContext: &securityContext
          allowPrivilegeEscalation: false
          readOnlyRootFilesystem: true
          capabilities:
            drop:
              - ALL
      jbops:
        image:
          repository: registry.k8s.io/git-sync/git-sync
          tag: v4.5.0@sha256:0e64aedb0d0ae0a3bab880349a5109b2a31891d646dd61e433ca36ed220dff1f
        env:
          GITSYNC_REPO: https://github.com/blacktwin/JBOPS
          GITSYNC_REF: master
          GITSYNC_PERIOD: 86400s # 1 day
          GITSYNC_ROOT: /add-ons
        resources:
          requests:
            cpu: 10m
          limits:
            memory: 128Mi
        securityContext: *securityContext
defaultPodOptions:
  securityContext:
    runAsNonRoot: true
    runAsUser: 568
    runAsGroup: 568
    fsGroup: 568
    fsGroupChangePolicy: OnRootMismatch
persistence:
  add-ons:
    type: emptyDir
  config:
    existingClaim: &app tautulli
  tmp:
    type: emptyDir
ingress:
  app:
    enabled: true
    className: tailscale
    hosts:
      - host: *app
        paths:
          - path: /
            pathType: Prefix
            service:
              identifier: app
              port: http
    tls:
      - hosts:
          - *app
service:
  app:
    controller: *app
    ports:
      http:
        port: *port