name: ArgoCD Diff

on:
  pull_request:
    branches:
      - main

jobs:
  argocd-diff:
    name: Generate ArgoCD Diff
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read
      pull-requests: write
    steps:
      - uses: actions/checkout@v6
      - uses: tailscale/github-action@v4
        with:
          oauth-client-id: ${{ vars.TAILSCALE_OAUTH_CLIENT_ID }}
          audience: ${{ vars.TAILSCALE_AUDIENCE }}
          tags: ${{ vars.TAILSCALE_TAGS || 'tag:ghactions' }}
          # renovate: datasource=github-releases depName=tailscale/tailscale
          version: 1.60.1

      - uses: arduino/setup-task@v1
        with:
          version: 3.x
          repo-token: ${{ secrets.GITHUB_TOKEN }}

      - name: Install ArgoCD CLI
        run: |
          curl -sSL -o /usr/local/bin/argocd https://github.com/argoproj/argo-cd/releases/download/v2.10.2/argocd-linux-amd64
          chmod +x /usr/local/bin/argocd
          argocd version --client

      - name: Authenticate with ArgoCD
        id: argocd-auth
        run: |
          chmod +x .github/scripts/argocd-oidc-login.sh
          ARGOCD_AUTH_TOKEN=$(.github/scripts/argocd-oidc-login.sh)
          echo "::add-mask::${ARGOCD_AUTH_TOKEN}"
          echo "ARGOCD_AUTH_TOKEN=${ARGOCD_AUTH_TOKEN}" >> $GITHUB_ENV
        env:
          ARGOCD_SERVER: argocd.tailnet-4d89.ts.net
          DEX_CLIENT_SECRET: ${{ secrets.DEX_CLIENT_SECRET }}

      - run: task apps:overlays:diff-pr-all -- --grpc-web --revision ${{ github.event.pull_request.head.sha }}
        env:
          ARGOCD_SERVER: argocd.tailnet-4d89.ts.net
          outputFile: "${{ github.workspace }}/.local/diff-pr-all.md"

      - name: Post diff in comment
        uses: mshick/add-pr-comment@v2
        with:
          message-id: argocd-diff
          message-path: "${{ github.workspace }}/.local/diff-pr-all.md"
